.App {
  font-family: sans-serif;
}
.input-box-error{
  border: 2px solid red;
}

.input-box {
  border-radius: 4px;
  width: 300px;
  height: 30px;
}

.menu-item {
  border-left: 1px solid black;
  border-right:  1px solid black;
  border-top : 1px solid black;
  padding: 5px 3px;
  width: 300px;
  border-radius: 4px;
}

.selected-options {
  margin-top: 5px;
  margin-bottom: 5px;
}

.pill-item {
  background-color: rgb(209, 225, 225); 
  margin-right: 5px; 
  display: inline-block;
  padding: 3px;
  border-radius: 4px;
}

.menu-item:hover { 
  background-color: rgb(209, 225, 225);
}

.menu-item-last {
  border-bottom: 1px solid black;
}

.error-text {
  color: red;
  text-align: left;
}

.available-options-to-select{
  z-index: 9999;
  position: relative;
  max-width: 300px;
}

.main-container {
  margin-left: 20%;
  padding-bottom: 20%;
}

section {
  margin-bottom: 200px;
}