.App {
  font-family: sans-serif;
}
.input-box-error{
  border: 2px solid red;
}

.input-box {
  border-radius: 4px;
  width: 300px;
  height: 30px;
  margin-bottom: 8px;
}

.error-text {
  color: red;
  text-align: left;
}

.available-options-to-select{
  z-index: 9999;
  position: relative;
  max-width: 300px;
}

.main-container {
  margin-left: 20%;
  padding-bottom: 20%;
}

section {
  margin-bottom: 200px;
}